<div class="ow_automargin ow_superwide">
    {form name='adminForm'}
         <table class="ow_table_1 ow_form">

           <tr> 
               <td class="ow_label">{label name="minSize"}</td>
               <td class="ow_value">{input name="minSize"} {error name='minSize'}</td>
           </tr>

           <tr> 
               <td class="ow_label">{label name="maxSize"}</td>
               <td class="ow_value">{input name="maxSize"} {error name='maxSize'}</td>
           </tr>

           <tr> 
               <td class="ow_label">{label name="newOn"}</td>
               <td class="ow_value">{input name="newOn"} {error name='newOn'}</td>
           </tr>

           <tr> 
               <td class="ow_label">{label name="flakeColor"}</td>
               <td class="ow_value">{input name="flakeColor"} {error name='flakeColor'}<br/> <a href="http://www.color-hex.com" target="_blank">Codes Values</a></td>
           </tr>

           <tr>
               <td colspan="2" class="ow_submit">{submit name="saveSettings" class='ow_ic_save'}</td>
           </tr>
         </table>
    {/form}
</div>